.header-cadastro {
    padding: 15px;
    color: #556346;
    background-color: #F1F8E9;
}

.dados {
    padding: 15px;
}

.percent {
    text-align: center;
    width: 100%;
    border: none;
}

#confirm-btn {
    padding-bottom: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    background-color: #F1F8E9;
}

footer ul {
    margin-bottom: 0;
}

footer li,
a {
    list-style: none;
    color: #556346;
}